body div.header div.right {
  float: right;
  text-align: right;
}

body div.header div.right div.login {
  font-family: "verdana", "arial", sans-serif;
}

body {
  font-size: 1.4rem;
  padding-top: 0.75em;
  max-width: 1200px;
  min-width: 920px;
  margin: 0 auto;
}

body div.header {
  height: 5em;
  margin: 0 1em;
  position: relative;
}

body div.header div.logo {
  float: left;
}

img {
  border: 0;
}

html {
  font-size: 10px;
}

.roundbox {
  border: 1px solid rgb(34, 177, 76);
  position: relative;
  border-radius: 5px;
  background-color: white;
}

.menu-box {
  margin: 0 1em;
  padding-top: 0.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.menu-list {
  margin-left: 1.25em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.menu-list li.current {
  border-bottom: 3px solid rgb(34, 177, 76);
}

.menu-list li {
  font-family: "verdana", "arial", sans-serif;
  /*font-family: 'Cuprum', sans-serif !important;*/
  float: left;
  list-style: none;
  margin-right: 1.25em;
  padding: 0 0 1px 0;
  position: relative;
  top: 3px;
}

div {
  padding: 0;
}

.menu-list-container {
  margin: 0;
}

.menu-list li a {
  font-weight: normal;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  display: block;
  float: left;
  height: 20px;
  overflow: hidden;
  /* margin: auto 2px; */
  margin: 0;
  line-height: 22px;
}